@font-face {
	font-family: "Vegur-Bold";
	src: url("../fonts/Vegur-Bold/Vegur-B_0_600.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ArialBold";
	src: url("../fonts/ArialBold/ArialBold.eot");
	src: url("../fonts/ArialBold/ArialBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ArialBold/ArialBold.woff") format("woff"),
	url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ArialRegular";
	src: url("../fonts/ArialRegular/ArialRegular.eot");
	src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ArialRegular/ArialRegular.woff") format("woff"),
	url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}